/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* мои стили */

/* .appWrapper{
  height: 4000px;
} */

/* .AppWrapper{
  display: flex;

} */

.RoutesApp{
  width: 100%;
}

.AppDiv{
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  background: url(./bg.jpg) rgba(0, 0, 0, 0.6); /* Прописываем путь к картинке и задаем цвет и прозрачность */
  background-size: cover; 
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  text-align:center; /* Текст по центру */
  color: #fff; /* Цвет текста */
  padding: 50px 0; /* Отступ сверху и снизу */
}
